.cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 350px) and (max-width: 649px){
    
}