.otp-container {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-main {
    width: 300px;
    height: 400px;
    padding: 50px;
    margin: 2vw auto;
    background: #fff;
}

.otp-main img {
    width: 100%;
    height: auto;
}

.otp-mobile-varification-logo-div {
    width: 90px;
    height: 90px;
}

.otp-varify-text{
    font-size: 20px;
    font-weight: 600;
}

.resend-otp {
    font-size: 14px;
    font-weight: 700;
    color: #ff3e6c;
    cursor: pointer;
    margin-top: 20px;
}

.otp-text {
    font-weight: 500;
    color: rgb(53, 52, 52);
}

.otp-input-divs {
    width: 25px;
    height: 30px;
    padding: 3px;
    font-size: large;
    margin: 20px 0;
    margin-right: 20px;
}

@media (min-width: 1366px){
    .otp-main{
        width: 29.283vw;
        height: 36.603vw;
    }
}