.product-image img {
    width: 100%;
    height: auto;
    box-sizing: content-box;
}

.product-image {
    width: 230px;
}

.each-item {
    margin: 10px;
}

a {
    text-decoration: none;
}

.product-brand {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-additionalInfo {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
}

.product-details {
    margin-top: 3px;
}

.product-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.product-mrp {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.product-discount-percentage {
    color: #fa681f;
    font-weight: 400;
    font-size: 16px;
}

.product-info-container {
    padding-left :10px;
}


@media screen and (min-width: 768px) and (max-width: 967px){
    .product-image {
        width: 250px;
    }
}

@media screen and (min-width: 650px) and (max-width: 719px){
    .product-image {
        width: 200px;
    }
}

@media screen and (min-width: 360px) and (max-width: 649px) {
    .product-image {
        width: 125px;
    }
    .product-info-container {
        padding-left: 0px;
    }
    .each-item {
        margin: 3px;
    }
    .product-price, .product-mrp, .product-discount-percentage {
        font-size: 13px;
    }
}